.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  display: flex;
  justify-content: space-around;
  background-color: black;
}
.links{
  display: flex;
}
.links,p{
  margin-right: 10px;
  color: white;
}
.logo{
  color: white;
}

.btn{
  color: white;
  background-color: #61dafb;
  border-radius: 10%;
  width:110px;
  height: 35px;
  margin-top: 10px;
}